<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Файловый менеджер</title>
    <link rel="stylesheet"
        href="assets/css/style.css">
    <link rel='stylesheet' href='assets/uicons/css/uicons-regular-rounded.css'>
</head>

<body>
    <div id="app">
        <div class="navigation">
            <button class="btn btn-nav"
                :class="prevFolder === false ? 'btn_inactive' : ''"
                @click="toPrevFolder">
                    <i class="fi fi-rr-angle-left"></i>
            </button>

            <button class="btn btn-nav"
                :class="nextFolder === false ? 'btn_inactive' : ''"
                @click="toNextFolder">
                <i class="fi fi-rr-angle-right"></i>
            </button>

            <span class='path-string'>{{visiblePath}}</span>
        </div>
        <div class='buttons-group'>
            <button @click.prevent='visibleModal("dir")'
                class="btn btn_primary">
                <i class="fi fi-rr-add-folder"></i>Добавить папку
            </button>

            <button @click.prevent='visibleModal("file")'
                class="btn btn_secondary">
                <i class="fi fi-rr-add-document"></i>
                Добавить файл
            </button>

            <button @click.prevent='deleteAll(selectFolders)'
                class="btn btn_danger"
                v-if="Object.keys(selectFolders).length !== 0 || selectFiles.length !== 0">
                <i class="fi fi-rr-trash"></i>
                Удалить
            </button>

            <button @click='cutData'
                class="btn btn_cut"
                v-if="Object.keys(selectFolders).length !== 0 || selectFiles.length !== 0">
                <i class="fi fi-rr-scissors"></i>
                Вырезать
            </button>

            <button @click='putData'
                class="btn btn_put"
                v-if="Object.keys(cutOutData).length !== 0">
                <i class="fi fi-rr-download"></i>
                Вставить
            </button>
        </div>

        <div class='container'>
            <div class="container-header">
                <span>Выбрать</span>
                <span>Название</span>
                <span>Дата создания</span>
            </div>

            <div class='container-item item_forder'
                v-for="(item, index) in updateCurDisk"
                :class="item.isCut ? 'container-item_cut' : ''">

                <input type="checkbox"
                    name="checkItem"
                    :id="'checkFolder' + item.id"
                    class="custom-checkbox"                   
                    @click="selectObj($event, selectFolders, item)"
                    :checked="selectFolders.indexOf(item) !== -1">
                <label :for="'checkFolder' + item.id"></label>

                <div class="item-name"
                    @click='toFolder(item)'>
                    <i class="fi fi-rr-folder"></i>{{item.name}}
                </div>

                <span class="item-date">{{item.dateCreate}}</span>
            </div>

            <div class='container-item item_file'
                v-for="(item, index) in files[curFolderID]"
                :class="item.isCut ? 'container-item_cut' : ''">

                <input type="checkbox"
                    name="checkItem"
                    :id="'checkFile' + index + '_' + curFolderID"
                    class="custom-checkbox"
                    @click="selectObj($event, selectFiles, index)"
                    :checked="selectFiles.indexOf(index) !== -1"
                >
                <label :for="'checkFile' + index + '_' + curFolderID"></label>

                <div class="item-name">
                    <i class="fi fi-rr-file"></i>{{item.name}}
                </div>

                <span class="item-date">{{item.dateCreate}}</span>
            </div>
        </div>

        <div class='modal modal_add-obj'
            :class='isVisibleAddModal ? "modal_active" : ""'>
            <div class="modal__shadow"></div>

            <div class="modal__content">

                <div class="modal__header">
                    <h3 class="modal__title">{{textAddModal}}</h3>
                    <button class="btn btn_close-modal"
                        @click="isVisibleAddModal = false;"><i class="fi fi-rr-cross"></i></button>
                </div>

                <div class="modal__errors"
                    ref="modal__error"></div>

                <div class="modal__body">
                    <div class='form-group'>
                        <label for='obj-name'>Название</label>
                        <input type='text'
                            name='obj-name'
                            ref="objName"
                            v-model="nameAddObj">
                    </div>
                    <div class="form-group">
                        <span class="group-title">Уровень доступа</span>
                        <div class="radio-group">
                            <input type="checkbox"
                                id="objPrivate"
                                v-model="privateStatusAddObj"
                                class="custom-checkbox">
                            <label for='objPrivate'>Приватный</label>
                        </div>

                    </div>
                    <button @click="addNewObj"
                        class="btn btn_primary"><i class="fi fi-rr-add"></i>Добавить</button>
                </div>
            </div>
        </div>

    </div>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>